<div th:fragment="leftnav" class="sidebar">
    <ul class="list-unstyled">
        <li th:each="page, index : ${T(com.leepay.payrollcalc.dto.StaticMenu).menuList}" th:if="${page.level == '1'}" class="nav-item sec">
            <a th:href="'#gnb-' + ${page.gnb_sort}" th:data-toggle="collapse" class="menu-toggle" th:id="'menu-' + ${page.page_seq}">
                <i th:class="${page.gnb_name}"></i>
                <p th:text="${page.page_name}"></p>
            </a>
            <div th:id="'gnb-' + ${page.gnb_sort}" class="menu-sub-nav">
                <ul class="list-unstyled">
                    <li th:each="subPage, subIndex : ${T(com.leepay.payrollcalc.dto.StaticMenu).menuList}" th:if="${subPage.parent_page_seq == page.page_seq}">
                        <a th:href="${subPage.page_url}">
                            <span th:text="${subPage.page_name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>