<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Welcome, <span th:text="${#authentication.name}">User</span>!</h1>
    <p>Username: <span th:text="${#authentication.name}"></span></p>
    <p>Roles: <span th:text="${#authentication.authorities}"></span></p>
    <a href="/logout" class="btn btn-danger">Logout</a>
</div>

</body>
</html>
