<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Payroll_Auto</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/main">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Main</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        메뉴
    </div>

    <!-- 메뉴 리스트 순회 -->
    <li th:each="menu : ${T(com.leepay.payrollcalc.dto.StaticMenu).menuList}"
        class="nav-item"
        th:classappend="${(menu.sub_menus != null) ? 'has-sub-menu' : ''}">
        <!-- 메뉴 내용 -->
        <a class="nav-link"
           th:href="${menu.sub_menus != null} ? '#' : ${menu.page_url}"
           th:data-toggle="${menu.sub_menus != null} ? 'collapse' : null"
           th:data-target="${menu.sub_menus != null} ? '#collapse' + ${menu.page_seq} : null"
           aria-expanded="false"
           aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span th:text="${menu.gnb_name}"></span>
        </a>
        <div th:if="${menu.sub_menus != null}"
             th:id="'collapse' + ${menu.page_seq}"
             class="collapse"
             aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar"
             th:classappend="${(servletPath != null && servletPath.equals(menu.page_url)) ? ' show' : ''}">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header" th:text="${menu.page_name}+':'"></h6>
                <!-- 서브메뉴 순회 -->
                <a th:each="subMenu : ${menu.sub_menus}"
                   class="collapse-item"
                   th:href="${subMenu.page_url}"
                   th:text="${subMenu.gnb_name}"
                   th:attr="data-parent-id='collapse' + ${menu.page_seq}">
                </a>
            </div>
        </div>
    </li>
    <!--
        &lt;!&ndash; Heading &ndash;&gt;
        <div class="sidebar-heading">
            Addons
        </div>

        &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        &lt;!&ndash; Nav Item - Charts &ndash;&gt;
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>

        &lt;!&ndash; Nav Item - Tables &ndash;&gt;
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider d-none d-md-block">-->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <p class="text-center mb-2">현재 경로 (servletPath)</p>
        <p class="text-center mb-2"><strong th:text="${servletPath}"></strong></p>
    </div>

</ul>
<!-- End of Sidebar -->
</html>