<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'List'"></title>
    <th:block th:replace="common/head"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>

<main>
    <div class="container" id="container">

        <div class="banner pt-2 mb-5 text-center">
            <h2>모의투자 랭킹</h2>
        </div>

        <div class="search_wrap">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form action="/Rank/MockTradeRank" data-ajax="true" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-loading="#loading_bg" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#search_result" id="form0" method="post">                <input type="hidden" name="Page" id="Page" value="1">
                    <input type="hidden" name="PageRows" id="PageRows">
                    <input type="hidden" name="SortBy" id="SortBy" value="">
                </form>        </div>
        </div>
        <div class="container">
            <div>
                <div id="search_result" class="clearfix">
                    <div class="row rank-noti mb-5">
                        <span>※ 각 유저의 총 자산 데이터는 매일 00시에 업데이트 됩니다.</span><br>
                        <span>※ 유저의 수익률은 회원 가입시 초기 지급된 3천만원을 기준으로 하며, 보유 중인 원화와 가상 화폐의 현재 시세를 합산한 결과 입니다.</span>

                    </div>
                    <div class="left-title">
                        랭킹 리스트
                    </div>
                    <div class="table-responsive ranking-board">


                        <!--여기서부터 출력-->
                        <div class="table-responsive rank-table">
                            <table class="table table-hover">
                                <thead class="rankthead" align="center">
                                <tr>
                                    <th class="cell2" scope="col"><h5><b>순위</b></h5></th>
                                    <th class="cell2" scope="col"><h5><b>닉네임</b></h5></th>
                                    <th class="cell2" scope="col"><h5><b>총 자산</b></h5></th>
                                    <th class="cell2" scope="col"><h5><b>수익률</b></h5></th>
                                    <th class="cell2" scope="col"><h5><b>보유 현황</b></h5></th>
                                </tr>
                                </thead>
                                <tbody align="center" style="vertical-align:middle;">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>


<script type="text/javascript">

</script>
</body>
</html>