<!DOCTYPE html>
<html lang="en">

<head>

    <th:block th:replace="~{/fragments/head :: head}"></th:block>
    <!-- Custom styles for this page -->
    <link th:href="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <title>SB Admin 2 - Tables</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="sidebar" th:replace="~{/fragments/sidebar :: sidebar}"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div id="topbar" th:replace="~{/fragments/topbar :: topbar}"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">사원 목록</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>순서</th>
                                            <th>소속명</th>
                                            <th>성 명</th>
                                            <th>근무지</th>
                                            <th>직급</th>
                                            <!-- ... 다른 헤더 ... -->
                                            <th>급여</th>
                                            <th>OT시급</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>순서</th>
                                            <th>소속명</th>
                                            <th>성 명</th>
                                            <th>근무지</th>
                                            <th>직급</th>
                                            <!-- ... 다른 헤더 ... -->
                                            <th>급여</th>
                                            <th>OT시급</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>
<!-- Script Fragments -->
<th:block th:replace="fragments/config :: config" ></th:block>
<!-- Page level plugins -->
<script th:src="@{/bootstrap/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/bootstrap/js/demo/datatables-demo.js}"></script>
</html>