/* 사이드바 CSS */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #111;
    border-right: 1px solid #555;
}

.sidebar a {
    color: #818181;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #555;
}

.menu-sub-nav {
    display: none;
}

.show > .menu-sub-nav {
    display: block;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow-up {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #007bff transparent;
}

.arrow-down {
    border-width: 10px 5px 0 5px;
    border-color: #007bff transparent transparent transparent;
}