/*정열이 로그인 이미지*/
.jy-login-image{
    background:url(/images/jeongyeol.jpg);
    background-position:center;
    background-size:cover
}

/* 메인 컨텐츠에 Noto Sans 웹폰트 적용 */
#content-wrapper {
    font-family: 'Noto Sans KR', sans-serif;
}