<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="~{/fragments/head :: head}"></th:block>

    <title>Main</title>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div id="sidebar" th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div id="topbar" th:replace="~{/fragments/topbar :: topbar}"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">페이지 타이틀</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">컨텐츠 영역 타이틀</h6>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{/fragments/footer :: footer}">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>
<!-- Script Fragments -->
<th:block th:replace="~{/fragments/config :: config}" ></th:block>
</html>