<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leepay.payrollcalc.mapper.CommonMapper">

    <select id="getAllMenu" resultType="menu">
        SELECT PAGE_SEQ
              ,PAGE_NAME
              ,PAGE_URL
              ,GNB_SORT
              ,GNB_NAME
              ,ROLE_ID
              ,PARENT_PAGE_SEQ
              ,LEVEL
         FROM ADMIN_MENU
    </select>

</mapper>