<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leepay.payrollcalc.mapper.SystemMapper">

    <resultMap id="AdminUserResultMap" type="AdminUser">
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="enabled" column="ENABLED"/>
        <collection property="roles" ofType="java.lang.String">
            <result column="NAME"/>
        </collection>
    </resultMap>

    <select id="getAllMenu" resultType="menu">
        SELECT A.PAGE_SEQ
              ,A.PAGE_NAME
              ,A.PAGE_URL
              ,A.GNB_SORT
              ,A.GNB_NAME
              ,A.ROLE_ID
              ,A.PARENT_PAGE_SEQ
              ,A.LEVEL
              ,B.NAME AS ROLE_NAME
              ,A.ICON_CLASS
         FROM ADMIN_MENU A
         JOIN ADMIN_ROLES B
           ON B.ID = A.ROLE_ID
         ORDER BY GNB_SORT, LEVEL, PAGE_SEQ
    </select>

    <select id="getAdminUser" resultMap="AdminUserResultMap">
        SELECT A.USERNAME
             ,A.PASSWORD
             ,A.ENABLED
             ,C.NAME
        FROM ADMIN_USERS A
                 JOIN ADMIN_USER_ROLES B
                      ON A.ID = B.USER_ID
                 JOIN ADMIN_ROLES C
                      ON C.ID = B.ROLE_ID
        WHERE A.USERNAME = #{username}
    </select>

    <select id="getAdminUserList" resultMap="AdminUserResultMap">
        SELECT A.ID
             ,A.USERNAME
             ,A.PASSWORD
             ,A.ENABLED
             ,C.NAME
        FROM ADMIN_USERS        A
                 JOIN ADMIN_USER_ROLES  B
                      ON A.ID = B.USER_ID
                 JOIN ADMIN_ROLES       C
                      ON B.ROLE_ID = C.ID
    </select>

</mapper>